@{
    ViewBag.Title = "Index";
}
@{
    var DictCodeData = ViewData["ListCodeData"] as IDictionary<string,object>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>业务代码管理(TS0000)</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-container">
        <div class="layui-row">
            <!-- 导航菜单-->
            <div class="layui-col-md12" style="padding-bottom: 5px;">
                <ul class="layui-nav" lay-filter="">
                    <li class="layui-nav-item"><a href="">最新活动</a></li>
                    <li class="layui-nav-item layui-this"><a href="">产品</a></li>
                    <li class="layui-nav-item"><a href="">大数据</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            二级菜单
                            <dd><a href="">移动模块</a></dd>
                            <dd><a href="">后台模版</a></dd>
                            <dd><a href="">电商平台</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">社区</a></li>
                </ul>
            </div>
            
            <div class="layui-col-md2">
                <!--侧边导航 -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test" style="width:170px">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;">默认展开</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">选项1</a></dd>
                            <dd><a href="javascript:;">选项2</a></dd>
                            <dd><a href="">跳转</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">移动模块</a></dd>
                            <dd><a href="">后台模版</a></dd>
                            <dd><a href="">电商平台</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">产品</a></li>
                    <li class="layui-nav-item"><a href="">大数据</a></li>
                </ul>
            </div>
            <div class="layui-col-md10">
                <!-- 主体界面 -->
                <fieldset class="layui-elem-field site-demo-button">
                    <legend>查询条件</legend>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">大类</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-verify="required">
                                        <option value=""></option>
                                        @for (int i = 0; i < DictCodeData.Count; i++)
                                        {
                                            <option value="@DictCodeData.Keys.ElementAt(i)">@DictCodeData.Values.ElementAt(i)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">代码编号</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="date" id="date" lay-verify="date" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">代码名称</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="url" lay-verify="url" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            
                        </div>
                    </form>
                </fieldset>
                <fieldset class="layui-elem-field site-demo-button">
                    <form class="layui-form" onsubmit="return false">
                        <div class="layui-form-item" style="margin:2px">
                            <div class="layui-inline">
                                <div class="layui-btn-group">
                                    <button class="layui-btn layui-btn-normal" onclick="Query()">查询</button>
                                    <button class="layui-btn layui-btn-normal">新增</button>
                                    <button class="layui-btn layui-btn-normal">修改</button>
                                    <button class="layui-btn layui-btn-normal">删除</button>
                                    <button class="layui-btn layui-btn-normal">新增代码明细</button>
                                    <button class="layui-btn layui-btn-normal">修改代码明细</button>
                                    <button class="layui-btn layui-btn-normal">删除代码明细</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">代码列表</li>
                        <li>代码明细</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="170">
                                    <col width="260">
                                    <col width="150">
                                    <col width="150">
                                    <col width="100">
                                    <col width="150">
                                    <col width="100">
                                    <col width="150">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>代码编号</th>
                                        <th>代码名称</th>
                                        <th>代码实际使用长度</th>
                                        <th>代码来源</th>
                                        <th>代码权限</th>
                                        <th>创建人</th>
                                        <th>创建时间</th>
                                        <th>修改人</th>
                                        <th>修改时间</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ATS01</td>
                                        <td>托运单位</td>
                                        <td>1</td>
                                        <td>汽车运输</td>
                                        <td></td>
                                        <td>admin</td>
                                        <td>2018-10-01 00:00:00</td>
                                        <td>admin</td>
                                        <td>2018-10-02 00:00:00</td>
                                    </tr>
                                    <tr>
                                        <td>ATS01</td>
                                        <td>托运单位</td>
                                        <td>1</td>
                                        <td>汽车运输</td>
                                        <td></td>
                                        <td>admin</td>
                                        <td>2018-10-01 00:00:00</td>
                                        <td>admin</td>
                                        <td>2018-10-02 00:00:00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-tab-item">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="200">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>昵称</th>
                                        <th>加入时间</th>
                                        <th>签名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>贤心</td>
                                        <td>2016-11-29</td>
                                        <td>人生就像是一场修行</td>
                                    </tr>
                                    <tr>
                                        <td>许闲心</td>
                                        <td>2016-11-28</td>
                                        <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
       
            
        
        <!-- 功能界面 -->
        
            
        <script src="~/Scripts/layui/layui.all.js"></script>
        <script>
            //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
            ; !function () {
                var layer = layui.layer,
                    form = layui.form;
                
            }();

            function Query()
            {
                layer.msg("查询", { time: 2000, icon: 1});
            }
        </script>
</body>
</html>